html{
    width: 100%;
    height: 100%;
	font-size: 10px;
}
body {
     width: 100%;
     margin: 0;
     min-height: 100vh;
}
.smashing-golden-eggs{
	width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
.smashing-golden-eggs img{
	width: 100%;
}
.smashing-golden-eggs .eggs {
    width: 100%;
    background-color: #ffe0df;
    padding-bottom: 1rem;
}
.eggs .luckEggsC{
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.eggs .luckEggsC .item{
	display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.luckEggsC .item .txt{
	position: absolute;
	width: 34%;
}
.luckEggsC .egg_1 .txt{
	top: 1rem;
	left: 21%;
	width: 18%;
}
.luckEggsC .egg_2 .txt{
	top: .2rem;
	left: 0rem;
}
.luckEggsC .egg_3 .txt{
	top: .2rem;
	right: .2rem;
}
.luckEggsC .item .txt img{
	width: 100%;
}
.luckEggsC .item .bottom{
	position: absolute;
	width: 100%;
	height: 2rem;
	bottom: -1rem;
	z-index: 1;
}
.luckEggsC .egg_1 .bottom{
	width: 54%;
}
.luckEggsC .item .bottom img{
	width: 100%;
	height: 100%;
}
.luckEggsC .item .content{
	width: 3rem;
	height: 5.6rem;
	position: relative;
	display: flex;
	align-items: flex-end;
    z-index: 2;
}
.luckEggsC .egg_1 .content{
	max-width: 32%;
}
.luckEggsC .item .content .front{
	width: 100%;
}
.luckEggsC .egg_1{
	width: 100%;
	padding-top: .2rem;
}
.luckEggsC .egg_2{
	width: 47%;
	margin-top: 1rem;
}
.luckEggsC .egg_3{
	width: 47%;
	margin-top: 1rem;
	margin-left: 4%;
}
.luckEggsC .item .content .front img{
	width: 100%;
	animation: egg_item 0.4s infinite ease-in-out;
	-webkit-animation: egg_item 0.6s infinite ease-in-out;
	transform-origin: bottom; */
    -webkit-transform-origin: bottom;
}
@-webkit-keyframes egg_item {
	0% {
	  	transform: rotate(-3deg);
	}
	50% {
	  	transform: rotate(3deg);
	}
	100% {
        transform: rotate(-3deg);
	}
}
.luckEggsC .item .hammer{
	display: none;
	position: absolute;
	width: 1.4rem;
	top: 1rem;
	right: -16%;
}
.luckEggsC .egg_1 .hammer{
	top: 2.4rem;
	right: 16%;
}
.luckEggsC .egg_3 .hammer{
	right: 0;
	left: -15%;
}
.luckEggsC .item .hammer img{
	width: 100%;
}
.luckEggsC .item .hammerClick{
	display: block;
	animation: hammer 1s  ease-in 0s 1 alternate forwards;;
	-webkit-animation: hammer 1s ease-in 0s 1 alternate forwards; ;
	transform-origin: bottom; */
    -webkit-transform-origin: bottom;
}
.luckEggsC .item.egg_3 .hammerClick{
	animation: hammer3 1s  ease-in 0s 1 alternate forwards;;
	-webkit-animation: hammer3 1s ease-in 0s 1 alternate forwards;
}
@-webkit-keyframes hammer {
	0% {
	  	transform: rotate(0deg);
	}
	20% {
	  	transform: rotate(0deg);
	}
	50% {
	  	transform: rotate(6deg);
	}
	100% {
        transform: rotate(-55deg);
	}
}
@-webkit-keyframes hammer3 {
	0% {
	  	transform: rotate(0deg);
	}
	20% {
	  	transform: rotate(0deg);
	}
	50% {
	  	transform: rotate(-6deg);
	}
	100% {
        transform: rotate(55deg);
	}
}
.luckEggsC .item .ray{
	display: none;
	position: absolute;
	animation: rayAnimation 1s ease-in-out 0s 1 alternate forwards;
	-webkit-animation: rayAnimation 1s ease-in-out 0s 1 alternate forwards;
}
@-webkit-keyframes rayAnimation {
	0% {
	  	opacity: 0;
	}
	25% {
	  	opacity: 0.5;
	}
	50% {
        opacity: 0.9;
	}
	65% {
        opacity: 1;
	}
	75% {
        opacity: 0.8;
	}
	100% {
        opacity: 0.6;
	}
}
.luckEggsC .item .content .behind{
	display: none;
	width: 100%;
	position: relative;
}
.luckEggsC .item .content .behind .behind_bg{
	width: 100%;
	animation: behindBg 1s ease-in-out 0s 1 alternate forwards;
	-webkit-animation: behindBg 1s ease-in-out 0s 1 alternate forwards;
}
@-webkit-keyframes behindBg {
	0% {
	  	opacity: 0;
	}
	40% {
	  	opacity: 0.4;
	}
	80% {
        opacity: 0.8;
	}
	100% {
        opacity: 1;
	}
}
.luckEggsC .item .content .behind .behind_bgt{
	width: 80%;
	position: absolute;
	left: 1rem;
	bottom: .2rem;
	z-index: -1;
	display: none;
}
.luckEggsC .item .content .behind .behind_bgt_animation {
	display: block;
	animation: bgtAnimation 1s ease-in-out 0s 1 alternate forwards;
	-webkit-animation: bgtAnimation 1s ease-in-out 0s 1 alternate forwards;
}
@-webkit-keyframes bgtAnimation {
	0% {
	  	bottom: .2rem;
	}
	100% {
        bottom: 2rem;
	}
}
.luckEggsC .item .content .behind .right_img{
	position: absolute;
	width: 40%;
	top: 0;
	left: 30%;
	z-index: 2;
}
.luckEggsC .item .content .behind .shell_img{
	position: absolute;
	top: -2rem;
	left: -16%;
	width: 80%;
	transform: rotate(-50deg);
}
.luckEggsC .item.egg_1  .content .behind .shell_img{
	top: -1rem;
	left: -26%;
	width: 80%;
}
.eggs .info{
	padding-top: .2rem;
    width: 80%;
    margin: 1.6rem auto auto;
    display: flex;
    font-weight: bold;
    color: #e6443f;
    font-size: .4rem;
    justify-content: space-between;
}
.eggs .info .item{
	display: flex;
}
.eggs .button{
	font-weight: normal;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 84%;
	margin: .6rem auto auto;
}
.eggs .button .opt{
	width: 3rem;
	height: 1rem;
}
.eggs .button .opt-left img{
	width: 100%;
	height: 100%;
}
/* 弹出框: c-dialog /c-rule-dialog */
.c-dialog{position: fixed;z-index: 88;width: 100%;height: 100%;top: 0;left: 0;display: none;}
.c-dialog .dialog-bg{width: 100%;height: 100%;position: absolute;left: 0;top: 0;z-index: -6;}

.c-dialog .con{width: 84%;padding-bottom: 2rem;height: calc(70% + 5rem);position: absolute;top: 48%;left: 50%;transform: translate(-50%, -50%);background: none;border-radius: 6px;z-index: -4;border:none;}
.c-dialog .dialog-body{padding: 1.6rem;height: calc(100% - 8rem);overflow: auto;margin: 7rem auto 0;color: #ffffff;}
.c-dialog .dialog-btns{width: 3rem;height: 3rem;position: absolute;  bottom: -5rem;left: calc(50% - 2rem);}
.c-dialog .dialog-btns img{width: 100%;height: 100%;}
.c-dialog .con .con-bg-img{width: 100%;height: 100%;position: absolute;left: 0;bottom: 0;z-index: -1;}

